<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <% @item.images.each do |image| %>
        <%= image_tag image, class:"item-box-img" %>
      <% end %>
      <%# 商品が売れている場合は、sold outを表示しましょう %>
        <% if @item.user_item%>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
        <% end %>
      <%# //商品が売れている場合は、sold outを表示しましょう %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @item.price %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <%# if user_signed_in? ログインしている %>
    <% if user_signed_in? %>
      <%# if @item.user == current_user 出品者である %>
      <% if @item.user_id == current_user.id && @item.user_item == nil%>
        <%= link_to '商品の編集', edit_item_path, method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', item_path, method: :delete, class:'item-destroy' %>
      <%# <%出品者で商品が売れている場合 %>
        <% if @item.user_item %>
          <%= link_to 'sold-out', root_path, class:"item-red-btn"%>
        <% end %>
      <%# else @item.user_item 購入者である %>
      <% else %>
          <%# if @item.user_item 商品が売れている root_path 表記：Soldout %>
          <% if @item.user_item %>
            <%= link_to 'sold-out', root_path, class:"item-red-btn"%>
          <%# else 商品が売れていない order 表記：購入へ進む%>
          <% else %>
            <%= link_to '購入画面に進む', item_orders_path(@item.id), class:"item-red-btn"%>
          <%# end %>
          <% end %>
        <%# end %>
      <% end %>
    <%# else ログインしていない %>
    <% end %>

  <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
  <%# <% if user_signed_in? && @item.user_id == current_user.id %> 
    <%# <%= link_to '商品の編集', edit_item_path, method: :get, class: "item-red-btn" %> 
    <%# <p class='or-text'>or</p> %>
    <%# <%= link_to '削除', item_path, method: :delete, class:'item-destroy' %> 
    <%# 商品が売れていない場合はこちらを表示しましょう %>
  <%# <% elsif user_signed_in? && @item.user_id != current_user.id && @item.user_item.nil? %> 
    <%# <%= link_to '購入画面に進む', item_orders_path(@item.id), class:"item-red-btn"%> 
  <%# <% elsif @item.user_item %> 
     <%# <%= link_to 'sold-out', new_user_session_path, class:"item-red-btn"%> 
    <%# //商品が売れていない場合はこちらを表示しましょう %>
  <%# <% else %> 
    <%# <%= link_to '購入画面に進む', user_session_path, class:"item-red-btn"%> 
  <%# <% end %> 
    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_charge.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.shipment_source.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.transport_days.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <%= form_with model: [@item, @comment], local: true do |f| %>
      <%# <%= f.text_area  %> 
        <%= f.text_field :text, class:"comment-text"%>
        <%= f.submit 'コメントする', class:"comment-btn" %>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <span>コメントする<span>
        <div class="comment-result" id='comments'>
          <% if @comments %>
            <% @comments.reverse_each do |comment| %>
              <div class="comments">
                <p>
                  <%= l comment.created_at %>
                  <strong>:<%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                  <%= comment.text %>
                </p>
              </div>
            <% end %>
          <% end %>
       </div>
    <% end %>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= @item.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
